{% extends 'customer/master.html' %}
{% block title %}{{prod.name}}{% endblock %}
{% block body %}
{% load ratings %}

<div class="container">
<div class='row'>
    
	<div class='col-sm-6 col-md-4 my-5'>
  <div class="card" style="width: 18rem;">
	<img src="{{prod.image.url}}" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">{{prod.name}},{{prod.brand}}</h5>
	  <h6>{{prod.price}},{{prod.discount}}%</h6>
	  <p>{{prod.desc}}</p> 
	  <p>{% ratings prod %}
	</p>
	  <p>
		<a href="{%url 'customer:buy' prod.id%}" class="btn btn-primary">Buy Now</a>
	  <a href="#" class="btn btn-primary">cart</a>
	  	   </p>
	</div>
  </div>
  </div>
  
  
  </div>
</div>


{% endblock %}